<ng-icon
  class="input-icon"
  name="bootstrapLock"
  size="20px"
  aria-hidden="true"
></ng-icon>

<input
  [type]="showPassword() ? 'text' : 'password'"
  [id]="id()"
  [value]="value()"
  [placeholder]="placeholder()"
  [autocomplete]="autocomplete()"
  [disabled]="isDisabled()"
  (input)="onInput($event)"
  (blur)="onBlur()"
/>

<button
  type="button"
  class="password-toggle"
  (click)="togglePasswordVisibility()"
  [attr.aria-label]="showPassword() ? 'Ocultar contraseña' : 'Mostrar contraseña'"
>
  <ng-icon [name]="showPassword() ? 'bootstrapEyeSlash' : 'bootstrapEye'" size="18px" aria-hidden="true"></ng-icon>
</button>
